<div class="ls-login-parent">
  <div class="ls-login-inner">
    <div class="ls-login-container">
      <div class="ls-login-box">
        <h1 class="ls-login-logo">
          <img title="Logo Login" src="https://opensource.locaweb.com.br/locawebstyle/assets/images/locastyle/logo-locaweb.png">
        </h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "ls-form ls-login-form") do |f| %>
          <fieldset>
            <label class="ls-label">
              <b class="ls-label-text ls-hidden-accessible">E-mail</b>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"ls-field-lg", placeholder: "Email" %>
            </label>
            <label class="ls-label">
              <b class="ls-label-text ls-hidden-accessible">Senha</b>
              <%= f.password_field :password, autocomplete: "current-password", class: "ls-field-lg", placeholder: "Senha" %>
            </label>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <%= f.submit "Entrar", class: "ls-btn-primary ls-btn-block ls-btn-lg" %>
          </fieldset>
        <% end %>
        <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Esqueceu a senha?", new_password_path(resource_name) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
