<%= render 'layouts/errors', object: @plan %>
<div class="container-fluid">
  <h1 class="text-center my-20">Planos</h1>
  <% if @plans.empty? %>
    <h2 class="my-20">Nenhum Plano cadastrado!</h2>
  <% else %>
    <table class="ls-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <% @plans.each do |pl| %>
          <tr id="plan-<%= pl.id %>">
            <th><%= pl.id %></th>
            <td><%= pl.name %></td>
            <td><%= pl.description %></td>
            <td><%= link_to('Detalhes', pl) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to 'Planos Desativados', disables_plans_path, class: "ls-btn-primary-info" %>
</div>